/*** CSS for Default visualNav HTML ***/
/* side menu with visualNav */
#sidemenu             { text-align: center; position: fixed; top: 20px; left: 20px; background: #444; width: 120px; z-index: 10; padding: 1px 1px 5px 1px; }
#sidemenu ul          { list-style-type: none; margin: 0; padding: 0; }
#sidemenu li          { margin: 5px; padding: 5px; width: 100px; text-align: center; border: transparent 1px solid; }
#sidemenu a           { text-decoration: none; color: #bbbbff; }
#sidemenu a:hover     { color: #fff; }

#sidemenu .selected   { background: #555; }
#sidemenu .inView     { border-color: #111; }

#sidemenu hr                  { border: #555 1px solid; }
#sidemenu .external a         { color: #aaa; }
#sidemenu .external a:hover   { color: #ccc; }
#sidemenu .external a.current { color: #555; pointer-events: none; cursor: default; }

/**/


/* demo content */
.content h2        { margin: 5px 5px 20px 5px; }
.content br        { clear: both; }
.content li        { padding-right: 25px; }

#scroll-nav               { left: 20px; list-style: none; position: fixed; top: 20px; }
#scroll-nav li            { margin-bottom: 2px; }
#scroll-nav a             { background: #ededed; color: #666; display: block; font-size: 11px; padding: 5px 10px; text-decoration: none; text-transform: uppercase; }
#scroll-nav a:hover       { background: #dedede; }
#scroll-nav a.current   { background: #666; color: #ededed; }
#stepper .current  { background: #eee; }
#scroll-nav .first        { position: relative; top: 0; left: 0; }

.section           { border-bottom: 5px solid #ccc; padding: 25px; }
.section h3        { margin-top: 0; }
.hilight           { color: #a60; }
.section p:last-child { margin-bottom: 0; }

