body, html{
	height:	100%;
	background-color: #121212;
	color:#eee;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	padding: 0;
	margin: 0;
}

a{
	color:#fcdc5e;
	text-decoration:none;
}

#wrapper{
	width: 960px;
	padding: 0;
	margin: 0;
	margin-right:auto;
	margin-left:auto;
}

#content{
	clear:both;
}

h1{
	font-family: 'Bangers', arial, serif;
	font-size: 40px;
	color: #ffcc00;
	padding: 0;
	margin-top:20px;
	margin-bottom:10px;
	border-bottom: 6px solid #ffcc00;
}
h2{
	font-family: 'Bangers', arial, serif;
	font-size: 30px;
	color: #ffcc00;
	padding: 0;
	margin-bottom:10px;
	border-bottom: 3px solid #ffcc00;
}
h3{
	font-family: 'Bangers', arial, serif;
	font-size: 20px;
	font-weight:100;
	color: #ffcc00;
	padding: 0;
	margin-bottom:10px;
	border-bottom: 1px solid #ffcc00;
}

nav ul{
	font-family: 'Bangers', arial, serif;
	font-size: 30px;
	margin:0;
	padding:0;
	list-style-type: none;
}

nav ul li{
	float:left;
	margin-right:4px;
	padding: 3px;
}

.yellow{
	font-weight:200;
	font-size: 16px;
	background:#ffcc00;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#000;
	padding: 3px;
	border:none;
}

.yellow:hover{
	background: #fcdc5e;
}


.about{
	display:inline;
	color: #eee;
	font-family: helvetica, arial, serif;
	font-size:14px;
	font-style:italic;
}
#demo{
	margin: 50px 0;
}
.demo{
	margin-top:4px;
	color:#eee;
}

.back{
	float:right;
	display:inline;
	color: #eee;
	font-family: helvetica, arial, serif;
	font-size:14px;
	font-style:italic;
	margin-top:16px;
}

.code{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #eee;
	color:#121212;
	font-family: helvetica, arial, serif;
	font-size:14px;
	padding: 3px;
	vertical-align:middle;
}

div.section{
	min-height:400px;
}
.row{
	overflow: hidden;
	color: #333;
	font-size: 11px;
}
.row div{
	float:left;
	margin-right: 10px;
}
.column_1{
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
}
.column_2{
	width:470px;
	padding-top: 5px;
}
.column_3{
	width: 310px;
	padding-top: 5px;
}
.column_4{
	width:230px;
	padding-top: 5px;
}

footer{
	font-family: 'Bangers', arial, serif;
	font-size:20px;
	font-weight: 100;
	padding:0;
	margin:0;
	margin-top: 40px;
	width:100%;
	height:50px;
	background: #ffcc00;
	color:#121212;
}
footer div{
	padding:14px 3px;
}
footer a{
	color:inherit;
	display:inline;
	padding:0 2px;
}
footer a:hover{
	background: #121212;
	color:#ffcc00;
}
.fl{ float:left;}
.fr{ float:right;}
.mr{margin-right:10px;}
.ml{margin-left:10px;}
button.yellow{
	font-family: 'Bangers', arial, serif;
	font-size: 20px;
	padding: 6px;
}
.readable{
	color: #eee !important;
	font-size:13px;
}
